
<div class="container text-center">
  <h1>My List of Movies</h1>
    <div class="cards">
      <% @lists.each do |list| %>
       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key,  height: 800, crop: :fill %>)">
        <%= link_to list.name, list_path(list) , class: 'text-decoration-none'%>
        </div>
      <% end %>
    </div>

  <%= link_to 'Create a list', new_list_path, class: 'btn btn-primary m-4' %>
</div>


<div class="container-lists">
  <% @lists.each do |list| %>
    <div class="card-list" style="background-image: url(<%= cl_image_path list.photo.key,  height: 800, crop: :fill %>);">
      <img src="<%=cl_image_path list.photo.key %>" alt="">
      <h3 class="list-title"><%= list.name %></h3>
    </div>
  <% end %>
</div>
