<div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key,  height: 800, crop: :fill %>)">
  <%= @list.name %>
</div>


<div class="container text-center">
  <div class="row ">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-4">
        <div class="card shadow">
          <img src="<%=bookmark.movie.poster_url%>" alt="">
          <h3><%= bookmark.movie.title %></h3>
          <p><%= bookmark.comment %></p>
          <%= link_to "Delete this bookmark", bookmark_path(bookmark.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-dark' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-primary m-3'%>
  <%= link_to "Back to List", lists_path, class: 'btn btn-primary' %>
</div>
